@page "/"
@using OpenCursor.Client
@using OpenCursor.Client.Handlers
@using System.Text
@using System.IO
@using Microsoft.Extensions.AI
@inherits ComponentBase
<PageTitle>Index</PageTitle>

<h1>OpenCursor Host</h1>

<div class="chat-container">
    <div class="chat-history">
        @foreach (var message in _chatHistory)
        {
            <p>@message</p>
        }
    </div>
    <div class="chat-input">
        <input @bind="_userInput" @onkeydown="HandleInput" placeholder="Enter message..." />
        <button @onclick="SendMessage" disabled="@_isSending">Send</button>
    </div>
</div>